@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	E-201,Sayaji Raje Avenue Society, <br />
	Keshav Nagar Road, Keshav Nagar, Pune : 411036<br />
	<abbr title="Mobile">Mo:</abbr>
	+91 9702 543 007
</address>

<address>
	<strong>Email1:</strong> <a href="mailto:mksdubey@gmail.com">mksdubey@gmail.com</a><br/>
	<strong>Email2:</strong> <a href="mailto:mksdubey@outlook.com">mksdubey@outlook.com</a>
</address>